In [1]:
import matplotlib.pyplot as plt
import numpy as np
import math
import pandas as pd
import statsmodels.api as sm
from scipy.special import gamma, loggamma, factorial
import scipy.stats
from scipy.interpolate import interp1d
from matplotlib.ticker import AutoMinorLocator 
from matplotlib import rc, font_manager
from matplotlib.lines import Line2D
from matplotlib import colors as mcolors
from mycolorpy import colorlist as mcp
from matplotlib import legend_handler
from mpl_toolkits.axes_grid1 import make_axes_locatable, axes_size
import collections
import matplotlib
import shapely.geometry
from shapely.geometry import Point
import shapely.ops 
from geopy.geocoders import Nominatim
import geopandas as gpd
import mapclassify
import jenkspy
import contextily as cx
import os
import rioxarray as rx
import pyreadr
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn import metrics
# import plots
import seaborn as sns
from datetime import datetime

In [2]:

country = 'Argentina'

if country=='Argentina':
    country_short = 'ARG'
    country_code = 'AR'
elif country == 'Chile':
    country_short = 'CHL'
    country_code = 'CL'
elif country == 'Colombia':
    country_short = 'COL'
    country_code = 'CO'
elif country == 'Mexico':
    country_short = 'MEX'
    country_code = 'MX'


directory = '/Volumes/RECAST/data/outputs/latin-mobility-covid/' + country_short
wd = '/Users/carmen/Library/CloudStorage/OneDrive-TheUniversityofLiverpool/Research/RECAST/latin-mobility-covid-local-files/data/outputs/' + country_short 


files = sorted(os.listdir(wd + '/mov/'))
files = [file for file in files if not file.startswith('.')]

## Baseline Facebook Population

In [3]:
df_bl = pd.read_csv(wd + '/baseline/baseline_pop.csv')

In [4]:
df_bl

,FID,0,1,2,3,4,5,6
0,28418.0,60.588069,59.989412,59.385823,59.138661,59.599279,61.985688,63.902352
1,16845.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,13698.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,37495.0,162.261385,161.972005,161.203316,162.408793,161.541916,173.349880,175.605939
4,29500.0,62.137376,62.073667,61.635205,61.740595,62.193607,62.068364,62.294280
...,...,...,...,...,...,...,...,...
44974,3567.0,-999.000000,-999.000000,-999.000000,-999.000000,NaN,-999.000000,-999.000000
44975,295.0,-999.000000,NaN,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000
44976,5344.0,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,NaN
44977,4055.0,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,NaN
44978,3991.0,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,NaN

In [10]:
present = 0
incomplete = 0
missing = 0
total = 0
for i in range(6):
    present += len(df_bl[df_bl[str(i)]>0])
    incomplete += len(df_bl[df_bl[str(i)]==-999])
    total += len(df_bl)
    missing += len(df_bl) - len(df_bl[df_bl[str(i)]>0]) - len(df_bl[df_bl[str(i)]==-999])

In [15]:
present

66061

## Baseline Facebook Movement

## Crisis Facebook Movement

In [12]:

# Days of week coded according to datetime library (0 is Monday, 6 is Sunday)
### ONLY UNCOMMENT THE LINES BELOW TO FILL IN BASELINE DATAFRAME FROM SCRATCH!!
### CONSIDER: DO YOU WANT TO WORK WITH FILES LOCALLY (WD) OR REMOTELY (DIRECTORY)
df_bl = pd.DataFrame({'FID': [], '0': [], '1': [], '2': [], '3': [], '4': [], '5': [], '6': []})
# # # df_bl.to_csv(directory + '/baseline/baseline_pop.csv', index=False)
# # # filename = directory + '/baseline/counter_pop.txt'
df_bl.to_csv(wd + '/baseline/baseline_pop.csv', index=False)
filename = wd + '/baseline/counter_pop.txt'
with open(filename, 'w') as file:
    file.write(str(0))

In [ ]:
### CONSIDER: DO YOU WANT TO WORK WITH FILES LOCALLY (WD) OR REMOTELY (DIRECTORY)
### movement files will always be in "directory"

filename = wd + '/baseline/counter_pop.txt'
with open(filename, 'r') as file:
    start_i = file.read()
print(start_i)

df_bl = pd.read_csv(wd + '/baseline/baseline_pop.csv')


for i in range(int(start_i), len(files)):
    
    if i%10 == 0:
        print(i/len(files)*100)
    
    df_bl = pd.read_csv(wd + '/baseline/baseline_pop.csv')

    file = files[i]
    df_pops = pd.read_csv(wd + '/pop/' + file, index_col=0)

    df_pops_bl = df_pops#.dropna(subset=['n_baseline']).reset_index(drop=True)
    df_pops_bl = df_pops_bl.dropna(subset=['FID']).reset_index(drop=True)
    wday = datetime.strptime(file[-19:-9], "%Y-%m-%d").weekday()

    for j in range(len(df_pops_bl)):

        ID = int(df_pops_bl.loc[j, 'FID'])

        df_bl_t = df_bl[df_bl['FID']==ID]
        value = df_pops_bl.loc[j, 'n_baseline']

        if len(df_bl_t) == 0:
            row = [int(ID)] + [-999 if k != wday else value for k in range(7)]
            df_bl.loc[len(df_bl)] = row

        else:
            if len(df_bl_t.index) == 1:
                if (df_bl.loc[df_bl_t.index[0], str(wday)] > 0) == False:
                    df_bl.loc[df_bl_t.index[0], str(wday)] = value
            else:
                print('more than one rows in df_bl_t')
            
    filename = wd + '/baseline/counter_pop.txt'
    with open(filename, 'w') as file:
        file.write(str(i))
        
    df_bl.to_csv(wd + '/baseline/baseline_pop.csv', index=False)

0
0.0
1.2886597938144329
2.5773195876288657
3.865979381443299
5.154639175257731
6.443298969072164
7.731958762886598
9.02061855670103
10.309278350515463
11.597938144329897
12.886597938144329
14.175257731958762
15.463917525773196
16.752577319587626
18.04123711340206
19.329896907216497
20.618556701030926
21.90721649484536
23.195876288659793
24.484536082474225
25.773195876288657
27.061855670103093
28.350515463917525
29.63917525773196
30.927835051546392
32.21649484536083
33.50515463917525
34.79381443298969
36.08247422680412
37.371134020618555
38.659793814432994
39.948453608247426
41.23711340206185

In [6]:
i

170