In [3]:
import matplotlib.pyplot as plt
import numpy as np
import math
import pandas as pd
import statsmodels.api as sm
from scipy.special import gamma, loggamma, factorial
import scipy.stats
from scipy.interpolate import interp1d
from matplotlib.ticker import AutoMinorLocator 
from matplotlib import rc, font_manager
from matplotlib.lines import Line2D
from matplotlib import colors as mcolors
from mycolorpy import colorlist as mcp
from matplotlib import legend_handler
from mpl_toolkits.axes_grid1 import make_axes_locatable, axes_size
import collections
import matplotlib
import shapely.geometry
from shapely.geometry import Point
import shapely.ops 
from geopy.geocoders import Nominatim
import geopandas as gpd
import mapclassify
import jenkspy
import contextily as cx
import os
import rioxarray as rx
import pyreadr
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn import metrics
# import plots
import seaborn as sns
from datetime import datetime

In [191]:

country = 'Colombia'

if country=='Argentina':
    country_short = 'ARG'
    country_code = 'AR'
elif country == 'Chile':
    country_short = 'CHL'
    country_code = 'CL'
elif country == 'Colombia':
    country_short = 'COL'
    country_code = 'CO'
elif country == 'Mexico':
    country_short = 'MEX'
    country_code = 'MX'


directory = '/Volumes/RECAST/data/outputs/latin-mobility-covid/' + country_short
wd = '/Users/carmen/Library/CloudStorage/OneDrive-TheUniversityofLiverpool/Research/RECAST/latin-mobility-covid-local-files/data/outputs/' + country_short 


files = sorted(os.listdir(wd + '/mov/'))
files = [file for file in files if not file.startswith('.')]

## Baseline Facebook Population

In [192]:
df_bl = pd.read_csv(wd + '/baseline/baseline_pop.csv')

In [193]:
present = 0
incomplete = 0
missing = 0
total = 0
for i in range(6):
    present += len(df_bl[df_bl[str(i)]>0])
    incomplete += len(df_bl[df_bl[str(i)]==-999])
    total += len(df_bl)
    missing += len(df_bl) - len(df_bl[df_bl[str(i)]>0]) - len(df_bl[df_bl[str(i)]==-999])

In [194]:
present

57127

In [195]:
total

287382

In [196]:
total-present

230255

In [197]:
(total-present)/total*100

80.12158033558121

## Baseline Facebook Movement

In [198]:
df_bl = pd.read_csv(wd + '/baseline/baseline_mov.csv')

In [199]:
df_bl

              O        D      0      1      2      3      4     5      6
0       28615.0  28615.0   26.0   26.4   27.6   25.6   27.8  28.4   39.5
1       28614.0  28615.0    NaN    NaN   10.2    NaN    NaN   NaN   10.5
2       29043.0  28614.0    NaN    NaN    NaN    NaN    NaN   NaN    NaN
3       14990.0  14990.0    NaN    NaN    NaN    NaN    NaN   NaN    NaN
4       14732.0  14732.0   11.0   10.0   10.2    NaN    NaN  10.0   11.0
...         ...      ...    ...    ...    ...    ...    ...   ...    ...
116946  39397.0  35225.0 -999.0 -999.0 -999.0 -999.0 -999.0   NaN -999.0
116947  36767.0  35176.0 -999.0 -999.0 -999.0 -999.0 -999.0   NaN -999.0
116948  37427.0  26836.0 -999.0 -999.0 -999.0 -999.0 -999.0   NaN -999.0
116949  13961.0  14208.0 -999.0 -999.0 -999.0 -999.0 -999.0   NaN -999.0
116950  29695.0  28149.0 -999.0 -999.0 -999.0 -999.0 -999.0   NaN -999.0

[116951 rows x 9 columns]

In [200]:
present = 0
incomplete = 0
missing = 0
total = 0
for i in range(6):
    present += len(df_bl[df_bl[str(i)]>0])
    incomplete += len(df_bl[df_bl[str(i)]==-999])
    total += len(df_bl)
    missing += len(df_bl) - len(df_bl[df_bl[str(i)]>0]) - len(df_bl[df_bl[str(i)]==-999])

In [201]:
present

40199

In [202]:
total

701706

In [203]:
total-present

661507

In [204]:
(total-present)/total*100

94.2712475025153

## Crisis Facebook Population

In [205]:
df_cr = pd.read_csv(wd + '/evo/pop_evo_popcell_raw.csv').drop(['Unnamed: 0'], axis=1)

In [206]:
df_cr.columns[1:]

Index(['2020-04-04', '2020-04-05', '2020-04-06', '2020-04-07', '2020-04-08',
       '2020-04-09', '2020-04-10', '2020-04-11', '2020-04-12', '2020-04-13',
       ...
       '2022-05-12', '2022-05-13', '2022-05-14', '2022-05-15', '2022-05-16',
       '2022-05-17', '2022-05-18', '2022-05-19', '2022-05-20', '2022-05-21'],
      dtype='object', length=778)

In [207]:
present = 0
incomplete = 0
missing = 0
total = 0
for column in df_cr.columns[1:]:
    present += len(df_cr[df_cr[column]>0])
    incomplete += len(df_cr[df_cr[column]==-999])
    total += len(df_cr)
    missing += len(df_cr) - len(df_cr[df_cr[column]>0]) - len(df_cr[df_cr[column]==-999])

In [208]:
present

7175914

In [209]:
total

38374072

In [210]:
total-present

31198158

In [211]:
(total-present)/total*100

81.30009762841952

## Crisis Facebook Movcell

In [212]:
df_cr = pd.read_csv(wd + '/evo/mov_evo_dist_raw.csv').drop(['Unnamed: 0'], axis=1)

In [213]:
df_cr.columns[2:]

Index(['2020-03-13', '2020-03-14', '2020-03-15', '2020-03-16', '2020-03-17',
       '2020-03-18', '2020-03-19', '2020-03-20', '2020-03-21', '2020-03-22',
       ...
       '2022-05-12', '2022-05-13', '2022-05-14', '2022-05-15', '2022-05-16',
       '2022-05-17', '2022-05-18', '2022-05-19', '2022-05-20', '2022-05-21'],
      dtype='object', length=800)

In [214]:
present = 0
incomplete = 0
missing = 0
total = 0
for column in df_cr.columns[2:]:
    present += len(df_cr[df_cr[column]>0])
    incomplete += len(df_cr[df_cr[column]==-999])
    total += len(df_cr)
    missing += len(df_cr) - len(df_cr[df_cr[column]>0]) - len(df_cr[df_cr[column]==-999])

In [215]:
present

2526254

In [216]:
total

93560800

In [217]:
total-present

91034546

In [218]:
(total-present)/total*100

97.29987986421665